.sidebar {
	position: absolute;
	left: 0;
	top: 0;
	width: 300px;
	height: 100%;
	padding: 0;
	background: #ccc;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 50;
}

.sidebar nav {
	font-size: 100%;
}

.sidebar .branding {
	margin: 40px 0;
}

.sidebar .branding img {
	display: none;
	width: 100%;	
}

.sidebar .branding img:not(.mobile) {
	display: block;
}